<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  
<head>
    <title>{% block hightitle %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link rel="stylesheet" href="/static/themes/cyborg/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-responsive.css"/>
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/7ef089af6b2dd1ce613b404cd25fc6abc163336c.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
	{% block scripts %}{% endblock %}
</head>  
  <body>
    <div class="container">
      <div class="hero-unit">
        <img src="/static/images/logo.png" class="pull-right" height="150" style="" width="400"/>
        <h1>IBST.PSU CTF</h1>
        <p>От команды Ctrl-PNZ</p>
        
		{% if team %}
        <img src="/static/images/pony.png"
        width="100" height="100" class="pull-left"/>
        <span class="label pull-left label-inverse">Мы следим за тобой, {{ mteam.name }}</span>
		{% endif %}
      </div>
    </div>
    <div class="container-fluid">
      <ul class="nav pull-right nav-tabs">
        <li class="pull-right">
          <a href="{% block redirect %} {% endblock %}">{% block name_redirect_page %} {% endblock %}</a> 
        </li>
      </ul>
      <h1 class="page-header">{% block title %}{% endblock %}</h1>
	  {% block content %}{% endblock %}
    </div>
  </body>

</html>